
<div class="container-fluid">
    <!-- <div class="row d-flex justify-content-start">
        <div class="col-12">
            <h3>Currency Management</h3>
        </div>
    </div> -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page" *ngIf="listmode">LIST</li>
          <li class="breadcrumb-item active" aria-current="page" *ngIf="addmode">ADD</li>
          <li class="breadcrumb-item active" aria-current="page" *ngIf="editmode">EDIT</li>
          <li class="breadcrumb-item active" aria-current="page" *ngIf="deletemode">DELETE</li>
        </ol>
    </nav>
</div>
<div class="container-fluid">
    <div class="row d-flex justify-content-end">
        <button class="btn btn-sm btn-dark mr-3 mb-1" (click)="addCity()" *ngIf="addmode" style="font-size: 12px;"  data-toggle="modal" data-target=".addCurrency"> <i class="fas fa-plus"></i> Add</button>
    </div>

    <div class="mt-1 d-flex justify-content-end">
        <button type="button" class="btn btn-dark btn-sm mr-1 mb-1" data-toggle="modal" data-target="#addCity" style="font-size: 10px;"><i class="fas fa-plus"></i> ADD</button>
      </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-dark">Currency List</h6>
        </div>
        <div class="card-body" *ngIf="!dataLoaded" style="align-items: center;">
            <div class="sk-chase">
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
            </div>
            <p>Loading Currency List</p>
        </div>
        <div class="card-body" *ngIf="dataLoaded">
            <div class="table-responsive">
                <table class="table table-bordered table-sm" datatable width="100%" cellspacing="0" [dtOptions]="dtOptions" >
                    <thead style="font-size: 14px;" class="thead-dark">
                        <tr>
                            <th style="position: sticky; left:0;"><input type="checkbox" (click)="getallselected($event)" style="height:15px; width:15px;"></th>
                            <th>S.No</th>
                            <th>Currency Name</th>
                            <th>Created At</th>
                            <th>Created By</th>
                            <th>Updated At</th>
                            <th>Updated By</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot style="font-size: 14px;" class="thead-dark">
                        <tr>
                            <th style="position: sticky; left:0;"><input type="checkbox" (click)="getallselected($event)" style="height:15px; width:15px;"></th>
                            <th>S.No</th>
                            <th>Currency Name</th>
                            <th>Created At</th>
                            <th>Created By</th>
                            <th>Updated At</th>
                            <th>Updated By</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                    <tbody style="font-size: 14px;">
                        <tr *ngFor="let item of CurrencyList; let i = index;">
                            <td style="position: sticky; left:0; background-color:rgb(109, 109, 109)"><input type="checkbox" (click)="getselected($event, i+1)" style="height:15px; width:15px;"></td>
                            <td>{{i+1}}</td>
                            <td>{{item.currency_name}}</td>
                            <td>{{item.created_at | date}}</td>
                            <td>{{item.created_by}}</td>
                            <td>{{item.modified_at | date}}</td>
                            <td>{{item.modified_by}}</td>
                            <td>
                                <button class="btn btn-sm btn-dark mr-1" style="font-size: 10px;" (click)="editCurrency(item)"> <i class="far fa-edit"></i> </button>
                                <button class="btn btn-sm btn-danger mr-1" style="font-size: 10px;" (click)="validate(item.id)"> <i class="fas fa-trash-alt"></i> </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="modal fade addCurrency" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">ADD NEW Currency</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="container">
                <form [formGroup]="addCurrencyForm">
                    <div class="form-row">
                        <!-- <div class="form-group col-lg-3 col-md-4 col-sm-12">
                          <label for="">ID</label>
                          <input type="text" formControlName="id" class="form-control-sm" disabled>
                        </div> -->
                        <div class="form-group col-lg-3 col-md-4 col-sm-12">
                          <label for="">Currency Name</label>
                          <input type="text" formControlName="currency_name" class="form-control-sm">
                        </div>
                        <!-- <div class="form-group col-lg-3 col-md-4 col-sm-12">
                          <label for="">Created At</label>
                          <input type="text" formControlName="created_at" class="form-control-sm">
                        </div>
                        <div class="form-group col-lg-3 col-md-4 col-sm-12">
                          <label for="">Created By</label>
                          <input type="text" formControlName="created_by" class="form-control-sm">
                        </div>
                        <div class="form-group col-lg-3 col-md-4 col-sm-12">
                          <label for="">Modified By</label>
                          <input type="text" formControlName="modified_at" class="form-control-sm">
                        </div>
                        <div class="form-group col-lg-3 col-md-4 col-sm-12">
                          <label for="">Modified At</label>
                          <input type="text" formControlName="modified_by" class="form-control-sm">
                        </div> -->
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-dark btn-sm" (click)="addCurrency()" *ngIf="addmode">ADD</button>
            <button type="button" class="btn btn-dark btn-sm" (click)="updateCurrency()" *ngIf="editmode">UPDATE</button>
            <button type="button" class="btn btn-danger btn-sm" (click)="cancel()">Cancel</button>
        </div>
    </div>
  </div>
</div>


<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Delete</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Do you really want to delete this Currency ?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger btn-sm" (click)="cancel()">No</button>
          <button type="button" class="btn btn-success btn-sm" (click)="deleteCurrency()">Yes</button>
        </div>
      </div>
    </div>
</div>