<div class="hero-wrap">
    <div class="home-slider owl-carousel">
      <div class="slider-item" style="background-image:url(../../../assets/Banners.png);">
          <div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center justify-content-start">
              <div class="col-md-8 ftco-animate">
                  <div class="text w-100 text-left">
                    <h1 style="color: black;">Lorem Ipsum is simply dummy</h1>
                    <h4 class="mb-4" style="color: white;">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h4>
                    <p><a class="btn btn-sm" style="background-color: #2E9CD9;">Connect with us</a></p>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <img src="../../../assets/Side-1.png" alt="">
        </div>
        <div class="col-8">
            <div class="heading-section pl-md-4 pt-md-5">
            <h2 class="mb-4">Service</h2>
            </div>
            <div class="services-2 w-100 d-flex" style="margin-bottom: 40px;">
                <div class="icon d-flex align-items-start justify-content-center"><img src="../../../assets/car.svg" alt="" class="img-fluid" style="padding: 10px;"></div>
                <div class="text pl-4">
                    <h4>Service Title 001</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
            <div class="services-2 w-100 d-flex" style="margin-bottom: 40px;">
                <div class="icon d-flex align-items-start justify-content-center"><img src="../../../assets/car.svg" alt="" class="img-fluid" style="padding: 10px;"></div>
                <div class="text pl-4">
                    <h4>Service Title 002</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
            <div class="services-2 w-100 d-flex" style="margin-bottom: 40px;">
                <div class="icon d-flex align-items-start justify-content-center"> <img src="../../../assets/car.svg" alt="" class="img-fluid" style="padding: 10px;"></div>
                <div class="text pl-4">
                    <h4>Service Title 003</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<section id="buyer">
    <div class="container-fluid">
        <div class="row d-flex align-items-start justify-content-end">
            <div class="col-6">
                <div style="margin-left: 80px;">
                    <h2 class="mt-5">Buyer</h2>
                    <div class="bottom-line">
    
                    </div>
                    <p class="mt-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <button class="btn btn-lg mt-5" style="background-color: #2E9CD9; color:white;">Get Started <i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
                </div>
            </div>
            <div class="col-6">
                <img src="../../../assets/car2.svg" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>
<br>
<br>
<section id="seller">
    <div class="container-fluid">
        <div class="row d-flex align-items-start justify-content-end">
            <div class="col-6">
                <img src="../../../assets/car2.svg" alt="" class="img-fluid">
            </div>
            <div class="col-6">
                <div style="margin-left: 10px;">
                    <h2 class="mt-5">Seller</h2>
                    <div class="bottom-line">
    
                    </div>
                    <p class="mt-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <button class="btn btn-lg mt-5" style="background-color: #2E9CD9; color:white;">Get Started <i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>
</section>
<br><br>
