.nav-link:active{
    border-bottom: rgb(255, 255, 255) 2px solid;
    color: rgb(255, 255, 255);
}

.nav-link{
    border-bottom: none;
    color: rgb(255, 255, 255);
    margin-right:25px;
}

.navbar-custom {
    background-color: #2E9CD9;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}
