.card-counter{
    box-shadow: 2px 2px 10px #DADADA;
    margin: 5px;
    padding: 20px 20px;
    background-color: #fff;
    height: 100px;
    border-radius: 13px;
    transition: .3s linear all;
    color: #222222;
  }

  .card-counter:hover{
    box-shadow: 4px 4px 20px #DADADA;
    transition: .3s linear all;
  }

  .card-counter i{
    font-size: 5em;
    opacity: 0.2;
  }
.b-h{
  color: #363636;
  font-weight: 500;
  font-size: 19px;

}
.count-name{
  color: #363636;
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 5px;

}
.count-numbers{
  color: #363636;
  font-weight: 800;
  font-size: 30px;
}