<div class="container-fluid">
    <div class="row d-flex justify-content-start">
        <div class="col-12">
            <h3 class="b-h">Orders:</h3>
        </div>
    </div>
    <!-- <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">Analytics</li>
        </ol>
    </nav> -->
</div>

<div class="container-fluid">
    <div class="row">
    <div class="col-md-3">
      <div class="card-counter">
        <h4 class="count-name">Total Buyers</h4>
        <h3 class="count-numbers">12</h3>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter">
        <h4 class="count-name">Sellers</h4>
        <h3 class="count-numbers">599</h3>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter">
        <h4 class="count-name">Intermediator</h4>
        <h3 class="count-numbers">6875</h3>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter">
        <h4 class="count-name">Orders</h4>
        <h3 class="count-numbers">35</h3>
      </div>
    </div>
  </div>
</div>