<div class="container-fluid">
    <div class="row d-flex justify-content-start">
        <div class="col-12">
            <h3>Dashboard</h3>
        </div>
    </div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">Analytics</li>
        </ol>
    </nav>
</div>

<div class="container-fluid">
    <div class="row">
    <div class="col-md-3">
      <div class="card-counter primary">
        <i class="fas fa-code-fork"></i>
        <span class="count-numbers">12</span>
        <span class="count-name">Buyers</span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter danger">
        <i class="fa fa-ticket"></i>
        <span class="count-numbers">599</span>
        <span class="count-name">Sellers</span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter success">
        <i class="fa fa-database"></i>
        <span class="count-numbers">6875</span>
        <span class="count-name">Intermediator</span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter info">
        <i class="fa fa-users"></i>
        <span class="count-numbers">35</span>
        <span class="count-name">Orders</span>
      </div>
    </div>
  </div>
</div>